*{
    margin:0;
    padding:0;
}
.container{
    width:80%;
    margin: 0 auto;
}
.banner{
    
    
    background-image: url('../images/donation7.jpg');
    background-repeat: no-repeat;
    /* background-position: cover; */
}
.banner-element{
    width:50%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 50px;
}
.banner{
    margin-bottom: 30px;
}
.banner h1
{
    
    color:white;
    font-size: 50px;
}
.banner p{
    
    color:white;  
}
.btn-primary{
    margin-top: 20px;
    background: tomato;
    color:aliceblue;
    border-radius: 5px;
    height: 40px;
    padding: 10px 30px;
    border: 0;
}
.doante-section{
    width:50%;
    margin:0 auto;
}
.donate-today{

    text-align: center;
}

.btn-all{
    margin:20px 0;
}
.btn-single{
    background:#CFFDE1;
    margin: 0 5px;
    border:0;
    height: 80px;
    
    padding: 10px 20px;
    
}
.btn-single:hover{
    background: #FFD1D1;
    border: 1px solid #FF9494;
}
.donate-today input[type="text"]{
    width:100%; border:none; text-align: center;
}
.donate-plan{
    
    display: flex;
    gap:20px;
    padding: 50px 0;
}
.donate-heading{
    width:50%;
    margin:0 auto;
}
.donate-now{
    margin-top: 80px;
}
.donate-plan-item{
    text-align:left;
    padding: 50px 20px;
}
.item1{
    background: antiquewhite;
}
.item2{
    background: cyan;
}
.item3{
    background:grey;
}
.contribute{
    
    display: flex;
    justify-content:space-between;
    
    margin-bottom: 50px;

}
.part1{
    text-align:left;
}

.part2 img{
    width:400px;
}
footer{
    background: black;
    
    text-align:center;
    padding: 30px 5px;
}
footer>h3{
    color:tomato;
}
footer>p{
    margin-top:30px;
    color:white;
}